 
<body class="center">
  

 <h1>All Users</h1>
    <br><br>
     <% User.all.each do |user| %>
      <p><a class="rm_underline" href="/users/<%=user.id%>"><%= user.name %></a></p><br>
      <% end %>
  <br><br><br>
  <p>
      <a href="/">Home</a>
  </p>
  <p>
    <a href="/users/new">Create New User</a>
  </p>
  <p>
    <a href="/mottos">See All Mottos</a>
  </p>

</body>
