 <h1>All Users</h1>
    <ul>
     <% User.all.each do |user| %>
      <li><a href="/users/<%=user.id%>"><%= user.name %></a></li>
      <% end %>
   </ul>

  <p>
    <a href="/users/new">Create New User</a>
  </p>
  <p>
    <a href="/tweets">See All Tweets</a>
  </p>
