<body class="center">
  


<h1>Create a New User</h1>

<form action="/users" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="user[name]">

  <br></br>

  <label>Choose an existing motto:</label>

  <br></br>

  <%Motto.all.each do |motto|%>
    <input type="checkbox" name="user[motto_ids][]" value="<%=motto.id%>"><%=motto.content%></input><br>
  <%end%>

  <br></br>

    <label>and/or, create a new motto:</label>
    <br></br>
    <label>New Motto:</label>
      <input  type="text" name="motto[content]"></input>
    <br></br>
  <input type="submit" id="button" value="Create User">
</form>

</body>