
<body class="center">
  
  <h1><%=@user.name%></h1>
  <h4>Mottos:</h4>
  <br><br>
  <ul>
    <%@user.mottos.each do |motto|%>
    <li><%=motto.content%></li>
    <%end%>
  </ul>

  <br><br>
  <form method ="post" action="/users/<%= @user.id %>/delete">
    <input type="text" name="name">
    <input type="submit" value="delete">
  </form>

</body>