
<body class="center">
  
  <h1>All Mottos</h1>
    <br><br>
     <% Motto.all.each do |motto| %>
      <p><a class="rm_underline" href="/mottos/<%=motto.id%>"><%= motto.content %></a></p><br>
      <% end %>
    <br><br><br>
    <p>
      <a href="/">Home</a>
    </p>
    <p>
      <a href="/mottos/new">Create a New Motto</a>
    </p>
    <p>
      <a href="/users">See All Users</a>
    </p>
</body>
