
<body class="center">
  
  <h1>Welcome To Motto Mania</h1>
  <h3>Here are your options:</h3>

  <p>
    <a href="/mottos">See All Mottos</a>
  </p>
  <p>
    <a href="/users">See All Users</a>
  </p>

</body>
