

  <h1>Welcome To Your Personal Master Tweet Controller</h1>
  <h3>Here are your options:</h3>

  <p>
    <a href="/tweets">See All Tweets</a>
  </p>
  <p>
    <a href="/users">See All Users</a>
  </p>
