
<body class="center">
  
  <h1>WELCOME TO MOTTO MANIA</h1> <br>
  <h2>Here are your options:</h3>
  <br>
  <p>
    <a href="/mottos">See All Mottos</a>
  </p>
  <p>
    <a href="/users">See All Users</a>
  </p>

</body>
