<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="description" content="Flatiron School individual project"/>
  <title>Master Tweet Controller</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="../../stylesheets/main.css">

</head>

  <body>
    <%= yield %>
  </body>
</html>