<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="description" content="Flatiron School individual project"/>
  <title>Master Motto Controller</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="../../stylesheets/main.css">

</head>

  <body>
    <%= yield %>
  </body>
</html>